<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <div class="header">
        <img src="/static/logo.png" class="logo">
        <h2>Chat Application</h2>
    </div>

    <div id="chat-box"></div>

    <div class="input-area">
        <input id="username" placeholder="Your name">
        <input id="message" placeholder="Type message...">
        <button onclick="sendMessage()">Send</button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>
var socket = io();

function sendMessage(){
    let username = document.getElementById("username").value;
    let message = document.getElementById("message").value;

    socket.send({
        username: username,
        message: message
    });

    document.getElementById("message").value = "";
}

socket.on('message', function(data){
    let chatBox = document.getElementById("chat-box");

    let div = document.createElement("div");

    let myName = document.getElementById("username").value;

    if(data.username === myName){
        div.className = "my-message";
    } else {
        div.className = "other-message";
    }

    div.innerHTML = "<b>" + data.username + ":</b> " + data.message;
    chatBox.appendChild(div);

    chatBox.scrollTop = chatBox.scrollHeight;
});
</script>

</body>
</html>
